<body class="tess-base-body bg-">
<main class="flex-1 flex flex-col gap-10 w-full max-w-full justify-center items-center overflow-y-auto">
    <div class="tess-base-container-md text-center">
        <h1 class="text-6xl mb-4">405</h1>
        <h2 class="text-2xl mb-2">Method Not Allowed</h2>
        <p class="text-neutral-400 mb-6">Sorry, the method you used is not allowed for this endpoint.</p>
        <img class="w-96" src="/assets/icons/not_found.svg" alt="not found illustration" />
        <button onclick="history.back()" class="tess-btn-pri cursor-pointer">Go Back</button>
    </div>
</main>
</body>