<body class="tess-base-body bg-">
<main class="flex-1 flex flex-col gap-10 w-full max-w-full justify-center items-center overflow-y-auto">
    <div class="tess-base-container-md text-center">
        <h1 class="text-6xl mb-4">405</h1>
        <h2 class="text-2xl mb-2">Method Not Allowed</h2>
        <p class="text-neutral-400 mb-6">Sorry, the method you used is not allowed for this endpoint.</p>
        <img src="https://i.pinimg.com/474x/4e/33/d8/4e33d84622b0a717515eb7ab30d6ed71.jpg" alt="dog">
        <a href="<?= $_ENV['SITE_URL'] ?>/" class="tess-btn-pri cursor-pointer">Go to Homepage</a>
    </div>
</main>
</body>